/*--------------------------------------------------------------
  Custom colors
--------------------------------------------------------------*/

@import '~bootstrap/scss/functions';

$theme-color-primary: #999933;
$theme-color-secondary: #e3004f;
$gray-cararra: #f2f2ee;
$error-indicator: #b81c23;
