$block: 'shopping-cart';

.#{$block} {
	position: relative;
	min-width: 30px; // Prevent layout shift on page load

	&-icon {
		border-bottom: none;
		color: gray( 'dove-gray' );

		&:hover{
			text-decoration: none;

			.shopping-cart-icon-span {
				background-color: $theme-color-secondary;
			}
		}

		// &::before {
		// 	@include fontawesome( '\f09a', 300 );
		// 	color: $black;
		// 	font-size: $font-size-base * 1.5;
		// }

		&-span {
			position: absolute;
			top: -3px;
			right: -10px;
			display: flex;
			width: 20px;
			height: 20px;
			align-items: center;
			justify-content: center;
			background-color: $theme-color-primary;
			border-radius: 50%;
			color: $white;
			font-size: 13px;
			font-weight: bold;
		}
	}
}
