.woocommerce {
	.woocommerce-thankyou-order-received {
		@extend .h2;
		margin-bottom: 1.5rem;
	}

	h2 {
		margin-bottom: 1rem;

		@include media-breakpoint-up( md ) {
			margin-bottom: 1.5rem;
		}
	}

	.woocommerce-order-overview {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 1rem;
		background-color: $gray-cararra;
		border-radius: $border-radius-sm;
		row-gap: 0.5rem;

		li {
			border: none !important;
			font-size: $font-size-base * 0.6;
		}

		@include media-breakpoint-down( md ) {
			flex-direction: column;

			li {
				padding: 0 !important;
				margin: 0 !important;

				&:not( :last-of-type ) {
					padding-bottom: 1rem !important;
				}
			}
		}
	}

	.woocommerce-customer-details {
		.woocommerce-columns--addresses {
			display: flex;
			justify-content: space-between;

			@include media-breakpoint-up( xs ){
				flex-direction: column !important;
			}

			@include media-breakpoint-up( md ){
				flex-direction: row !important;
			}

			.col-1 {
				margin-right: $xs-margin;

				@include media-breakpoint-down( sm ){
					margin-bottom: $xs-margin;
				}
			}

			.woocommerce-column--billing-address,
			.woocommerce-column--shipping-address {
				max-width: 100%;
				flex: 0 0 100%;
				padding: $sm-padding;

				@include media-breakpoint-up( md ) {
					flex: 0 0 calc( 50% - 0.25rem );
				}

				h2 {
					margin-bottom: $xs-padding;
				}

				address {
					border: none;
					background-color: $gray-cararra;
					border-radius: $border-radius-sm;

					.woocommerce-customer-details--email {
						padding-left: 0;

						&::before {
							content: none;
						}
					}
				}
			}
		}
	}
}
