$block: 'woocommerce-tabs';

.#{$block} {
	ul.wc-tabs {
		display: flex;
		overflow: visible !important;
		padding: 0 !important;
		border-bottom: 2px solid gray( 'cararra' );

		&::before {
			content: none !important;
		}

		li {
			padding: 0 !important;
			border: none !important;
			margin: 0 0.5rem 0 0 !important;
			background-color: transparent !important;

			&::before,
			&::after {
				content: none !important;
			}

			a {
				@include button;
				display: block !important;
				padding: 0.5rem 1rem !important;
				border-bottom: 2px solid gray( 'cararra' );
				margin-bottom: -2px;
				border-radius: 0 !important;
				box-shadow: none;
				font-size: $small-font-size !important;
				font-weight: $btn-font-weight !important;
			}

			&.active a {
				border-color: theme-color( 'primary' );
				color: theme-color( 'primary' ) !important;
			}
		}
	}
}
