$block: 'gform';

.#{$block} {
    &_footer {
        input[type=submit] {
            @include primary-button();
            
            border: none;
            padding: $font-size-base * 0.5;
            color: $white;
        }
    }
}